<div class="summary">
  <h2 class="text text__bold">Summary</h2>
  <div class="summary__content">
    <h3 class="text text__bold">
      I've been experienced in the application software development since 2020
      year.
    </h3>
    <h4 class="text__bold">Experience with:</h4>
    <ul class="summary__items">
      <li class="summary__item">
        <p class="text text__item">Angular / TypeScript</p>
        <p class="text text__item">since 2020</p>
      </li>
      <li class="summary__item">
        <p class="text text__item">JavaScript / HTML / CSS / SCSS</p>
        <p class="text text__item">since 2020</p>
      </li>
      <li class="summary__item">
        <p class="text text__item">Bootstrap / Material</p>
        <p class="text text__item">since 2020</p>
      </li>
      <li class="summary__item">
        <p class="text text__item">RxJS</p>
        <p class="text text__item">since 2021</p>
      </li>
      <li class="summary__item">
        <p class="text text__item">NodeJS</p>
        <p class="text text__item">since 2021</p>
      </li>
    </ul>
    <p class="text">English – intermediate level.</p>
  </div>
</div>
