<div class="summary">
  <h2 class="text text__bold">Summary</h2>
  <div class="summary__content">
    <h3 class="text text__bold">
      I've been experienced in the application software development since 2020
      year.
    </h3>
    <h4 class="text__bold">Experience with:</h4>
    <div class="data">
      @for (item of summary; track $index) {

      <div class="data__items">
        <p class="text text__bold">{{ item.key }}</p>
        <div class="data__item">
          <p class="text">started at {{ item.value }}</p>
        </div>
      </div>
      }
    </div>
    <p class="text">English – upper-intermediate level.</p>
  </div>
</div>
