<h2 class="text__bold">Career history</h2>
<div class="career">
  <div class="career__items">
    <p class="text text__bold">Studying process</p>
    <div class="career__item">
      <p class="text text__bold">March 2020 - Present</p>
      <p class="text">Angular, NodeJS, MongoDB, MySQL, HMLT5, CSS</p>
    </div>
  </div>
  <div class="career__items">
    <p class="text text__bold">Malinove, Ukraine</p>
    <div class="career__item">
      <p class="text text__bold">from April 2007 to March 2010 year</p>
      <p class="text">supply chair manager</p>
    </div>
  </div>
  <div class="career__items">
    <p class="text text__bold">
      Ukrainian scientific research institure of the sugar industry, Ukraine
    </p>
    <div class="career__item">
      <p class="text text__bold">from July 2003 to March 2006 year</p>
      <p class="text">economist</p>
    </div>
  </div>
</div>
