<h2 class="text__bold">Technical Environment</h2>
<table class="table">
  <tbody class="table__body">
    <tr class="table__row">
      <th class="table__cell">Operating systems</th>
      <td class="table__cell">Windows, Linux</td>
    </tr>
    <tr class="table__row">
      <th class="table__cell">Languages</th>
      <td class="table__cell">JavaScript, TypesScript, RxJS, HTML, NodeJS</td>
    </tr>
    <tr class="table__row">
      <th class="table__cell">Web technologies</th>
      <td class="table__cell">
        Angular, CSS, SCSS, Bootstrap, Angular Material
      </td>
    </tr>
    <tr class="table__row">
      <th class="table__cell">DBMS</th>
      <td class="table__cell">MongoDB, MySQL</td>
    </tr>
    <tr class="table__row">
      <th class="table__cell">Software</th>
      <td class="table__cell">VisualStudioCode, WebStorm</td>
    </tr>
    <tr class="table__row">
      <th class="table__cell">Management</th>
      <td class="table__cell">
        Communication with customer, estimation, team management, working with
        distributed team
      </td>
    </tr>
  </tbody>
</table>
