<h1 class="text__bold">Volodymyr Grushka</h1>
<div class="contacts">
  <p class="text text__shadow">E-mail: {{ email }}</p>

  <a
    class="link text text__shadow"
    href="https://t.me/grushvolo"
    target="_blank"
  >
    <svg class="icon">
      <use xlink:href="../assets/styles/images/github-icon.svg#telegram" />
    </svg>
    Telegram
  </a>
  <a
    class="link text text__shadow"
    href="https://github.com/VolodumurGruv"
    target="_blank"
  >
    <svg class="icon">
      <use xlink:href="../assets/styles/images/github-icon.svg#github" />
    </svg>
    GitHub profile
  </a>
</div>
