<h2 class="text text__bold">Some projects</h2>
<table>
  <tbody>
    <tr>
      <th>Bootcamp</th>
      <td>
        Making/deleting posts and coments and ratings. Sign in and sign up of
        users. Geocoding, NodeJS, ejs, Bootstrap4, CSS, Helmet, Passport Auth0,
        MongoDB, Cloudinary, Flash, Express, Mongoose, Heroku
      </td>
    </tr>
    <tr>
      <th>Blog</th>
      <td>A simple blog with the admin panel Angular, SCSS, Firebase</td>
    </tr>
    <tr>
      <th>Online store</th>
      <td>I'll make description later</td>
    </tr>
  </tbody>
</table>
